{
  "openapi": "3.0.1",
  "info": {
    "title": "InsightAI Fraud Detection API",
    "description": "APIs for fraud detection, prevention, bulk processing, and initial customer data load.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.insightai.in/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/fraud-detection": {
      "post": {
        "description": "Analyzes transaction data for potential fraud and returns a detailed fraud report.",
        "requestBody": {
          "description": "Transaction details to analyze for fraud.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/bulk": {
      "post": {
        "description": "Uploads a bulk set of transactions for fraud analysis.",
        "requestBody": {
          "description": "A file containing multiple transactions in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/{id}": {
      "get": {
        "description": "Retrieves the fraud detection report for a specific transaction ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction ID for which the fraud detection report is requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud detection report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionReport"
                }
              }
            }
          },
          "404": {
            "description": "Transaction ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/customers/load": {
      "post": {
        "description": "Loads first-time customer data into the system for fraud prevention and risk profiling.",
        "requestBody": {
          "description": "Customer data file in CSV or JSON format containing necessary details for onboarding.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDataLoadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer data successfully loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDataLoadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility": {
      "post": {
        "description": "Checks the loan eligibility of a customer based on the provided financial and personal details.",
        "requestBody": {
          "description": "Customer details for loan eligibility check.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk": {
      "post": {
        "description": "Uploads a bulk set of customer details for loan eligibility check.",
        "requestBody": {
          "description": "A file containing multiple customer details in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkLoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk/results": {
      "get": {
        "description": "Fetches the results of the bulk loan eligibility check.",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "description": "The ID of the bulk processing task to fetch results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk loan eligibility results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID or bulk results not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/data_extraction/email_parsing": {
      "post": {
        "description": "Extracts chargeback-related details from the provided email content.",
        "requestBody": {
          "description": "The email content containing chargeback information to be analyzed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailParsingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chargeback details extracted from the email content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Email content missing in the request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API token missing from headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to parse the response JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/risk_alert/{tenant_id}": {
      "get": {
        "description": "Retrieves a detailed real-time risk alert for a specific tenant ID.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "description": "Tenant ID for which the risk alert report is requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk alert payload containing risk score, flags, device details, network info, and decision reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskAlert"
                }
              }
            }
          },
          "404": {
            "description": "Tenant ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/forgery/analyse/analyse_docs_v2": {
      "post": {
        "summary": "Analyse document for forgery and inconsistencies",
        "description": "Performs document forgery analysis, layout anomaly detection, future-date inconsistencies, cross-field mismatches, and text manipulation traces.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file to be analysed (PDF, PNG, JPG, etc.)"
                  },
                  "document_name": {
                    "type": "string",
                    "description": "User-provided name of the document.",
                    "example": "dipak kumar - frontend react.pdf"
                  },
                  "doc_format": {
                    "type": "string",
                    "description": "Type of document provided.",
                    "example": "pdf"
                  }
                },
                "required": [
                  "document",
                  "doc_format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document forgery analysis result containing anomaly detections, tampering indicators, and confidence scores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentForgeryAnalysis"
                }
              }
            }
          }
        }
      }
    },
    "/rules": {
      "post": {
        "description": "Creates a new dynamic risk rule in the rule engine.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRuleRequest"
              },
              "example": {
                "rule_name": "High-Value Transaction Check",
                "category": "MANDATORY",
                "description": "Decline any transaction above 50,000",
                "applies_to": [
                  "Merchant"
                ],
                "trigger_condition": {
                  "field": "amount",
                  "operator": "gt",
                  "value": 50000
                },
                "action": {
                  "type": "DECLINE",
                  "reason": "Amount exceeds daily merchant limit"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRuleResponse"
                },
                "example": {
                  "message": "Rule created successfully",
                  "id": "a1b2c3d4"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid rule logic or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves a list of all currently active rules in the engine.",
        "responses": {
          "200": {
            "description": "List of active rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRulesResponse"
                },
                "example": [
                  {
                    "id": "a1b2c3d4",
                    "rule_name": "High-Value Transaction Check",
                    "category": "MANDATORY",
                    "description": "Decline any transaction above 50,000",
                    "applies_to": [
                      "Merchant"
                    ],
                    "status": "ACTIVE"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_token": {
                    "summary": "Authorization header missing",
                    "value": {
                      "error": "UNAUTHORIZED",
                      "message": "Authorization header is missing."
                    }
                  },
                  "invalid_token": {
                    "summary": "Invalid bearer token",
                    "value": {
                      "error": "UNAUTHORIZED",
                      "message": "The provided authentication token is invalid or expired."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficient_permissions": {
                    "summary": "User lacks permission",
                    "value": {
                      "error": "FORBIDDEN",
                      "message": "You do not have permission to access rule data."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unexpected_error": {
                    "summary": "Unhandled exception",
                    "value": {
                      "error": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rules/{rule_id}": {
      "delete": {
        "description": "Deletes a rule permanently from the rule engine using its unique rule ID.",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the rule to be deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRuleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Rule ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analyze": {
      "post": {
        "summary": "Analyze Transaction",
        "description": "Evaluates a transaction against all active rules and returns a risk decision.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeTransactionRequest"
              },
              "example": {
                "txn_id": "TXN_987654",
                "amount": 7500.5,
                "merchant_id": "MERCH_123",
                "vpa": "customer@upi",
                "mcc": "5411",
                "status": "INITIATED",
                "ip_address": "192.168.1.1",
                "device_id": "ANDROID_ID_88"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction evaluation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeTransactionResponse"
                },
                "example": {
                  "decision": "APPROVE",
                  "triggered_rules": []
                }
              }
            }
          },
          "400": {
            "description": "Malformed request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_json": {
                    "summary": "Malformed JSON",
                    "value": {
                      "error": "BAD_REQUEST",
                      "message": "Invalid JSON structure in request body."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid rule evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_operator": {
                    "summary": "Operator not allowed for field",
                    "value": {
                      "error": "INVALID_RULE_LOGIC",
                      "message": "Operator 'gt' cannot be applied to field 'vpa'."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal rule engine error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "engine_failure": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": "INTERNAL_ERROR",
                      "message": "Transaction evaluation failed due to an internal error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeTransactionRequest": {
        "type": "object",
        "required": [
          "txn_id",
          "amount",
          "merchant_id",
          "vpa",
          "mcc",
          "status"
        ],
        "properties": {
          "txn_id": {
            "type": "string",
            "description": "Unique transaction identifier."
          },
          "amount": {
            "type": "number",
            "description": "Transaction amount."
          },
          "merchant_id": {
            "type": "string",
            "description": "Merchant identifier."
          },
          "vpa": {
            "type": "string",
            "description": "Virtual Payment Address (UPI)."
          },
          "mcc": {
            "type": "string",
            "description": "Merchant Category Code."
          },
          "status": {
            "type": "string",
            "description": "Transaction lifecycle status."
          },
          "ip_address": {
            "type": "string",
            "description": "Origin IP address."
          },
          "device_id": {
            "type": "string",
            "description": "Unique device identifier."
          }
        }
      },
      "AnalyzeTransactionResponse": {
        "type": "object",
        "required": [
          "decision",
          "triggered_rules"
        ],
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "APPROVE",
              "DECLINE",
              "REVIEW"
            ],
            "description": "Final transaction decision."
          },
          "triggered_rules": {
            "type": "array",
            "description": "List of rule names that were triggered.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateRuleRequest": {
        "type": "object",
        "required": [
          "rule_name",
          "category",
          "applies_to",
          "trigger_condition",
          "action"
        ],
        "properties": {
          "rule_name": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "MANDATORY",
              "ACQUIRER-SPECIFIC",
              "TPAP-SPECIFIC"
            ]
          },
          "description": {
            "type": "string"
          },
          "applies_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "trigger_condition": {
            "$ref": "#/components/schemas/TriggerCondition"
          },
          "action": {
            "$ref": "#/components/schemas/RuleAction"
          }
        }
      },
      "CreateRuleResponse": {
        "type": "object",
        "required": [
          "message",
          "id"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Rule created successfully"
          },
          "id": {
            "type": "string",
            "example": "a1b2c3d4"
          }
        }
      },
      "ListRulesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Rule"
        }
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "rule_name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "applies_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "trigger_condition": {
            "$ref": "#/components/schemas/TriggerCondition"
          },
          "action": {
            "$ref": "#/components/schemas/RuleAction"
          }
        }
      },
      "TriggerCondition": {
        "type": "object",
        "required": [
          "field",
          "operator",
          "value"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": [
              "gt",
              "lt",
              "eq",
              "contains",
              "in"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "RuleAction": {
        "type": "object",
        "required": [
          "type",
          "reason"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "DECLINE"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "DeleteRuleResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Rule deleted successfully"
          },
          "id": {
            "type": "string",
            "example": "a1b2c3d4"
          }
        }
      },
      "RiskAlert": {
        "type": "object",
        "properties": {
          "v": {
            "type": "integer",
            "example": 1,
            "description": "Schema version of the risk alert event."
          },
          "type": {
            "type": "string",
            "description": "Event type identifier.",
            "example": "risk.alert"
          },
          "tier": {
            "type": "string",
            "description": "Risk engine tier indicating the evaluation mode.",
            "example": "RISK_ONLY"
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp at which the risk alert was generated.",
            "example": "2025-12-15T10:20:30.123Z"
          },
          "seq": {
            "type": "integer",
            "description": "Sequence number of the alert, useful for ordering events.",
            "example": 9103
          },
          "stream": {
            "type": "object",
            "description": "Metadata related to the tenant and organization origin of the event.",
            "properties": {
              "org_id": {
                "type": "string",
                "example": "4561237890123456"
              },
              "tenant_id": {
                "type": "string",
                "example": "A9F3K8M2Q7L4ZP1X"
              }
            }
          },
          "data": {
            "type": "object",
            "description": "Core risk evaluation payload including decision, risk score, entity details, and correlation signals.",
            "properties": {
              "alert_id": {
                "type": "string",
                "description": "Unique identifier assigned to the risk alert.",
                "example": "ALRT-20251215-9103"
              },
              "decision": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "BLOCK"
                  },
                  "severity": {
                    "type": "string",
                    "example": "HIGH"
                  },
                  "risk_score": {
                    "type": "number",
                    "example": 0.82
                  },
                  "confidence": {
                    "type": "number",
                    "example": 0.74
                  }
                }
              },
              "entity": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "client_user_id": {
                        "type": "string",
                        "example": "u_123"
                      },
                      "account_id": {
                        "type": "string",
                        "example": "acc_991"
                      },
                      "labels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "new_user",
                          "high_value"
                        ]
                      }
                    }
                  },
                  "device": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string",
                        "example": "d_4OwdmtpInKd9fW1fMBSAHN"
                      },
                      "device_fingerprint": {
                        "type": "string",
                        "example": "fp_9c1a..."
                      },
                      "browser": {
                        "type": "string",
                        "example": "Chrome"
                      },
                      "os": {
                        "type": "string",
                        "example": "MacOS"
                      },
                      "ua": {
                        "type": "string",
                        "example": "Mozilla/5.0 (...) Chrome/142.0.0.0 Safari/537.36"
                      },
                      "screen": {
                        "type": "string",
                        "example": "1792x1120@2"
                      },
                      "timezone": {
                        "type": "string",
                        "example": "Asia/Calcutta"
                      },
                      "language": {
                        "type": "string",
                        "example": "en-GB"
                      },
                      "webgl_hash": {
                        "type": "string",
                        "example": "R29vZ2xlIEluYy4gKEludGVsKXxBTkdM..."
                      }
                    }
                  },
                  "session": {
                    "type": "object",
                    "properties": {
                      "session_id": {
                        "type": "string",
                        "example": "SESS-1765265709938-uuuc7n"
                      },
                      "first_seen_ts": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-12-15T10:19:50.000Z"
                      },
                      "last_seen_ts": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-12-15T10:20:30.000Z"
                      },
                      "route": {
                        "type": "string",
                        "example": "/checkout"
                      },
                      "event_id": {
                        "type": "string",
                        "example": "EID-1765265710965-1"
                      }
                    }
                  },
                  "network": {
                    "type": "object",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "example": "203.0.113.10"
                      },
                      "geo": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "example": "IN"
                          },
                          "region": {
                            "type": "string",
                            "example": "DL"
                          },
                          "city": {
                            "type": "string",
                            "example": "New Delhi"
                          }
                        }
                      },
                      "asn": {
                        "type": "string",
                        "example": "AS9498"
                      },
                      "isp": {
                        "type": "string",
                        "example": "Airtel"
                      },
                      "vpn_proxy_suspected": {
                        "type": "boolean",
                        "example": true
                      },
                      "rtt_ms": {
                        "type": "number",
                        "example": 12
                      },
                      "effective_type": {
                        "type": "string",
                        "example": "4g"
                      }
                    }
                  }
                }
              },
              "flags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "VPN_SUSPECTED",
                  "HIGH_VELOCITY",
                  "AUTOMATION_LIKELY"
                ]
              },
              "reasons": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "STAT_HYPER_VELOCITY_SPIKE"
                    },
                    "weight": {
                      "type": "number",
                      "example": 0.35
                    },
                    "evidence": {
                      "type": "object",
                      "additionalProperties": {},
                      "example": {
                        "transaction_velocity_count": 27,
                        "threshold": 20
                      }
                    }
                  }
                }
              },
              "correlation": {
                "type": "object",
                "properties": {
                  "device_seen_on_users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "u_123",
                      "u_881"
                    ]
                  },
                  "user_seen_on_devices": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "d_4Owd...",
                      "d_k91..."
                    ]
                  },
                  "shared_ip_sessions_10m": {
                    "type": "integer",
                    "example": 9
                  }
                }
              },
              "client_action_hint": {
                "type": "object",
                "properties": {
                  "recommended_controls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "3DS",
                      "OTP",
                      "KYC_STEP_UP"
                    ]
                  },
                  "ttl_seconds": {
                    "type": "integer",
                    "example": 900
                  },
                  "note": {
                    "type": "string",
                    "example": "Block purchase attempt; device shows automation & abnormal velocity."
                  }
                }
              },
              "additional_data": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "example": "ORD-9912"
                  },
                  "payment_attempt_id": {
                    "type": "string",
                    "example": "PAY-12001"
                  }
                }
              }
            }
          }
        }
      },
      "TransactionData": {
        "type": "object",
        "required": [
          "transactionId",
          "amount",
          "timestamp",
          "accountDetails"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the transaction."
          },
          "accountDetails": {
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string",
                "description": "ID of the account associated with the transaction."
              },
              "accountType": {
                "type": "string",
                "description": "Type of the account (e.g., savings, current)."
              }
            }
          }
        }
      },
      "FraudDetectionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the fraud detection process."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates whether the transaction is flagged as fraudulent."
          },
          "details": {
            "type": "string",
            "description": "Detailed explanation of the fraud detection result."
          }
        }
      },
      "DocumentForgeryAnalysis": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique analysis report ID.",
            "example": 27
          },
          "document_name": {
            "type": "string",
            "description": "Name of the analysed document.",
            "example": "dipak kumar - frontend react.pdf"
          },
          "response": {
            "type": "array",
            "description": "List of detected anomalies or validation checks performed.",
            "items": {
              "type": "object",
              "properties": {
                "issue": {
                  "type": "string",
                  "description": "Type or label of the detected issue.",
                  "example": "Inconsistent spaces after colons"
                },
                "observation": {
                  "type": "string",
                  "description": "Human-readable explanation of the issue.",
                  "example": "There are inconsistent spaces after colons in various sections..."
                },
                "confidence_score": {
                  "type": "integer",
                  "description": "Confidence score for this detection (0–100).",
                  "example": 75
                },
                "tampered": {
                  "type": "boolean",
                  "description": "Indicates whether this issue likely represents tampering.",
                  "example": false
                },
                "tampering_type": {
                  "type": "string",
                  "description": "Category of tampering or mismatch detected.",
                  "example": "layout_anomaly"
                }
              }
            }
          },
          "document_url": {
            "type": "string",
            "description": "Temporary URL to access the stored document.",
            "example": "https://insightai-testing-sse.s3.amazonaws.com/b823d8_document.pdf"
          }
        }
      },
      "BulkUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing multiple transactions."
          }
        }
      },
      "BulkDetectionResponse": {
        "type": "object",
        "properties": {
          "caseId": {
            "type": "string",
            "description": "String Id to represent the case analysis of the bulk transaction"
          },
          "processedCount": {
            "type": "integer",
            "description": "Number of transactions successfully processed."
          },
          "fraudulentCount": {
            "type": "integer",
            "description": "Number of transactions flagged as fraudulent."
          },
          "analyticsJson": {
            "type": "object",
            "description": "JSON of all the transaction flagged and score for each"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudDetectionResponse"
            }
          }
        }
      },
      "FraudDetectionReport": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "ID of the transaction."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates if the transaction is fraudulent."
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction."
          },
          "explanation": {
            "type": "string",
            "description": "Detailed explanation of the fraud analysis."
          }
        }
      },
      "CustomerDataLoadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing customer details."
          }
        }
      },
      "CustomerDataLoadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the data load process."
          },
          "loadedCount": {
            "type": "integer",
            "description": "Number of customer records successfully loaded."
          },
          "failedCount": {
            "type": "integer",
            "description": "Number of records that failed to load."
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Details of any errors encountered."
          }
        }
      },
      "LoanEligibilityRequest": {
        "type": "object",
        "required": [
          "age",
          "monthly_income",
          "employment_type",
          "credit_score",
          "loan_purpose"
        ],
        "properties": {
          "age": {
            "type": "integer",
            "description": "Age of the customer."
          },
          "gender": {
            "type": "string",
            "description": "Gender of the customer."
          },
          "marital_status": {
            "type": "string",
            "description": "Marital status of the customer."
          },
          "state": {
            "type": "string",
            "description": "State of residence."
          },
          "city": {
            "type": "string",
            "description": "City of residence."
          },
          "residential_status": {
            "type": "string",
            "description": "Customer's residential status (Owned, Rented, Other)."
          },
          "monthly_income": {
            "type": "number",
            "format": "float",
            "description": "Monthly income of the customer."
          },
          "employment_type": {
            "type": "string",
            "description": "Employment type (Salaried, Business, Self-employed)."
          },
          "occupation_sector": {
            "type": "string",
            "description": "Sector of occupation."
          },
          "previous_debt": {
            "type": "number",
            "description": "Amount of previous debt (if any)."
          },
          "loan_purpose": {
            "type": "string",
            "description": "Purpose of the loan."
          }
        }
      },
      "LoanEligibilityResponse": {
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "description": "Indicates whether the customer is eligible for a loan."
          },
          "recommended_loan_amount": {
            "type": "number",
            "format": "float",
            "description": "The amount recommended to be sanctioned to the customer."
          },
          "loan_tenure": {
            "type": "string",
            "description": "Recommended loan tenure."
          },
          "interest_rate": {
            "type": "number",
            "format": "float",
            "description": "Interest rate applicable on the loan."
          }
        }
      },
      "BulkLoanEligibilityRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The bulk file containing multiple customer loan details (CSV/JSON)."
          }
        }
      },
      "BulkLoanEligibilityResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "A unique ID generated for the bulk processing task."
          },
          "status": {
            "type": "string",
            "description": "Status of the bulk processing request (e.g., 'processing', 'completed')."
          }
        }
      },
      "BulkLoanEligibilityResults": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "The task ID for the bulk loan check."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanEligibilityResponse"
            },
            "description": "The results of the bulk loan eligibility check."
          }
        }
      },
      "EmailParsingRequest": {
        "type": "object",
        "required": [
          "email_content"
        ],
        "properties": {
          "email_content": {
            "type": "string",
            "description": "The email content containing chargeback-related information to be analyzed."
          }
        }
      },
      "ChargebackDataResponse": {
        "type": "object",
        "properties": {
          "reference_number": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "transaction_entity": {
            "type": "string",
            "description": "Name of the merchant, bank, or gateway involved in the transaction."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the transaction (e.g., USD, INR)."
          },
          "date_of_transaction": {
            "type": "string",
            "format": "date",
            "description": "Date when the transaction occurred."
          },
          "chargeback_reason": {
            "type": "string",
            "description": "Reason for the chargeback, if available."
          },
          "customer_information": {
            "type": "object",
            "properties": {
              "customer_name": {
                "type": "string",
                "description": "Name of the customer (if provided)."
              },
              "customer_email": {
                "type": "string",
                "description": "Email address of the customer (if provided)."
              },
              "customer_phone": {
                "type": "string",
                "description": "Phone number of the customer (if provided)."
              }
            }
          },
          "additional_notes": {
            "type": "string",
            "description": "Any extra information or instructions extracted from the email."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}