{
  "openapi": "3.0.1",
  "info": {
    "title": "InsightAI Fraud Detection API",
    "description": "APIs for fraud detection, prevention, bulk processing, and initial customer data load.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.insightai.in/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/fraud-detection": {
      "post": {
        "description": "Analyzes transaction data for potential fraud and returns a detailed fraud report.",
        "requestBody": {
          "description": "Transaction details to analyze for fraud.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/bulk": {
      "post": {
        "description": "Uploads a bulk set of transactions for fraud analysis.",
        "requestBody": {
          "description": "A file containing multiple transactions in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/{id}": {
      "get": {
        "description": "Retrieves the fraud detection report for a specific transaction ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction ID for which the fraud detection report is requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud detection report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionReport"
                }
              }
            }
          },
          "404": {
            "description": "Transaction ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/customers/load": {
      "post": {
        "description": "Loads first-time customer data into the system for fraud prevention and risk profiling.",
        "requestBody": {
          "description": "Customer data file in CSV or JSON format containing necessary details for onboarding.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDataLoadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer data successfully loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDataLoadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility": {
      "post": {
        "description": "Checks the loan eligibility of a customer based on the provided financial and personal details.",
        "requestBody": {
          "description": "Customer details for loan eligibility check.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk": {
      "post": {
        "description": "Uploads a bulk set of customer details for loan eligibility check.",
        "requestBody": {
          "description": "A file containing multiple customer details in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkLoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk/results": {
      "get": {
        "description": "Fetches the results of the bulk loan eligibility check.",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "description": "The ID of the bulk processing task to fetch results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk loan eligibility results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID or bulk results not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/fecth_book_data/": {
      "post": {
        "description": "Fetches book data from the API for cataloging, user recommendations, and content analysis.",
        "requestBody": {
          "description": "Customer data file in CSV or JSON format containing necessary details for onboarding.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDataLoadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer data successfully loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDataLoadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/fetch_company_data/": {
      "post": {
        "description": "Fetches company data from the forecasting API for analysis, trend prediction, and strategic planning.",
        "requestBody": {
          "description": "The request body must include a file (CSV, JSON) and an API key for authentication.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The company data file to upload. Supported formats: CSV or JSON."
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Authentication API key for accessing the forecasting API.",
                    "example": "your_api_key_here"
                  }
                },
                "required": [
                  "file",
                  "api_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company data successfully loaded and processed for analysis.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Company data successfully loaded and processed."
                    },
                    "data_summary": {
                      "type": "object",
                      "properties": {
                        "total_records": {
                          "type": "integer",
                          "example": 500
                        },
                        "processed_records": {
                          "type": "integer",
                          "example": 480
                        },
                        "invalid_records": {
                          "type": "integer",
                          "example": 20
                        }
                      }
                    },
                    "table_data": {
                      "type": "array",
                      "description": "Processed table data for analysis.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "column1": {
                            "type": "string",
                            "example": "Value 1"
                          },
                          "column2": {
                            "type": "string",
                            "example": "Value 2"
                          },
                          "column3": {
                            "type": "integer",
                            "example": 100
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid company data or file format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unsupported file format or invalid data. Please upload a file in CSV or JSON format."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid API key provided."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while processing the file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while processing the file. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/run_combined_forecast/": {
      "post": {
        "description": "Runs a combined forecast analysis using the specified session and time period.",
        "requestBody": {
          "description": "The request body must include the session ID and the time period for the forecast.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session": {
                    "type": "integer",
                    "description": "Unique identifier for the forecasting session.",
                    "example": 1
                  },
                  "time_period": {
                    "type": "integer",
                    "description": "The time period (in months) for the forecast.",
                    "example": 24
                  }
                },
                "required": [
                  "session",
                  "time_period"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Combined forecast successfully generated."
                    },
                    "forecast_data": {
                      "type": "array",
                      "description": "The generated forecast data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-01-01"
                          },
                          "forecast_value": {
                            "type": "number",
                            "example": 12345.67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or time period.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Session ID or time period is invalid."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while generating the forecast.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while generating the forecast."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/run_simulation_forecast/": {
      "post": {
        "description": "Runs a combined forecast analysis using the specified session, time period, and simulation data.",
        "requestBody": {
          "description": "The request body must include the session ID, the time period for the forecast, and simulation data for risk analysis.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session": {
                    "type": "integer",
                    "description": "Unique identifier for the forecasting session.",
                    "example": 1
                  },
                  "time_period": {
                    "type": "integer",
                    "description": "The time period (in months) for the forecast.",
                    "example": 24
                  },
                  "simulation_data": {
                    "type": "string",
                    "description": "Simulation data containing risk factors, formatted as a JSON string.",
                    "example": "{\"customer_concentration\": 0.2, \"supplier_concentration\": 0.3, \"revenue_growth_rate\": 0.05, \"net_profit_margin\": 0.1, \"gross_margin_decline\": 0.02, \"operating_cash_flow_to_debt\": 0.15}"
                  }
                },
                "required": ["session", "time_period", "simulation_data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Combined forecast successfully generated."
                    },
                    "forecast_data": {
                      "type": "array",
                      "description": "The generated forecast data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-01-01"
                          },
                          "forecast_value": {
                            "type": "number",
                            "example": 12345.67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID, time period, or simulation data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Session ID, time period, or simulation data is invalid."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while generating the forecast.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while generating the forecast."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/query_vector_data/": {
      "post": {
        "description": "Runs a combined forecast analysis using the specified session and time period.",
        "requestBody": {
          "description": "The request body must include the session ID and the time period for the forecast.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session": {
                    "type": "integer",
                    "description": "Unique identifier for the forecasting session.",
                    "example": 1
                  },
                  "time_period": {
                    "type": "integer",
                    "description": "The time period (in months) for the forecast.",
                    "example": 24
                  }
                },
                "required": [
                  "session",
                  "time_period"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Combined forecast successfully generated."
                    },
                    "forecast_data": {
                      "type": "array",
                      "description": "The generated forecast data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-01-01"
                          },
                          "forecast_value": {
                            "type": "number",
                            "example": 12345.67
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or time period.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Session ID or time period is invalid."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while generating the forecast.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while generating the forecast."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/forecasting/upload_books_data/": {
      "post": {
        "description": "Upload financial statements or customer data for forecasting analysis. Supported formats include CSV, XLS, XLSX, and JSON.",
        "requestBody": {
          "description": "The request body must include a file (CSV, XLS, XLSX, or JSON) and an API key for authentication.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The financial statement or customer data file to upload. Supported formats: CSV, XLS, XLSX, or JSON."
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Authentication API key for accessing the forecasting API.",
                    "example": "your_api_key_here"
                  }
                },
                "required": [
                  "file",
                  "api_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully and processed for forecasting.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Financial data successfully uploaded and processed."
                    },
                    "data_summary": {
                      "type": "object",
                      "properties": {
                        "total_records": {
                          "type": "integer",
                          "example": 200
                        },
                        "processed_records": {
                          "type": "integer",
                          "example": 200
                        },
                        "invalid_records": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unsupported file format. Please upload a file in CSV, XLS, XLSX, or JSON format."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid API key provided."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error while processing the file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while processing the file. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/data_extraction/email_parsing/": {
      "post": {
        "description": "Extract chargeback-related data from the provided email content, streamlining chargeback analysis and management.",
        "requestBody": {
          "description": "Email content containing transaction details and an API key for authentication.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_content": {
                    "type": "string",
                    "example": "Your transaction with reference number 12345ABC made on 15-Nov-2023 with Merchant XYZ for $1500 has been flagged for a chargeback due to unauthorized usage. Please provide supporting documents by 20-Nov-2023."
                  },
                  "api_key": {
                    "type": "string",
                    "example": "hhhhhhhhhh"
                  }
                },
                "required": [
                  "email_content",
                  "api_key"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully extracted data from the email content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analyzed_data": {
                      "type": "object",
                      "properties": {
                        "reference_number": {
                          "type": "string"
                        },
                        "transaction_entity": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "date_of_transaction": {
                          "type": "string",
                          "format": "date"
                        },
                        "chargeback_reason": {
                          "type": "string"
                        },
                        "customer_information": {
                          "type": "object"
                        },
                        "additional_notes": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing email content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "The 'email_content' field is required and cannot be empty."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid API token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden request due to invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Email content missing in the request body."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error due to JSON parsing failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to parse the response JSON."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TransactionData": {
        "type": "object",
        "required": [
          "transactionId",
          "amount",
          "timestamp",
          "accountDetails"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the transaction."
          },
          "accountDetails": {
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string",
                "description": "ID of the account associated with the transaction."
              },
              "accountType": {
                "type": "string",
                "description": "Type of the account (e.g., savings, current)."
              }
            }
          }
        }
      },
      "FraudDetectionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the fraud detection process."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates whether the transaction is flagged as fraudulent."
          },
          "details": {
            "type": "string",
            "description": "Detailed explanation of the fraud detection result."
          }
        }
      },
      "BulkUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing multiple transactions."
          }
        }
      },
      "BulkDetectionResponse": {
        "type": "object",
        "properties": {
          "caseId": {
            "type": "string",
            "description": "String Id to represent the case analysis of the bulk transaction"
          },
          "processedCount": {
            "type": "integer",
            "description": "Number of transactions successfully processed."
          },
          "fraudulentCount": {
            "type": "integer",
            "description": "Number of transactions flagged as fraudulent."
          },
          "analyticsJson": {
            "type": "object",
            "description": "JSON of all the transaction flagged and score for each"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudDetectionResponse"
            }
          }
        }
      },
      "FraudDetectionReport": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "ID of the transaction."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates if the transaction is fraudulent."
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction."
          },
          "explanation": {
            "type": "string",
            "description": "Detailed explanation of the fraud analysis."
          }
        }
      },
      "CustomerDataLoadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing customer details."
          }
        }
      },
      "CustomerDataLoadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the data load process."
          },
          "loadedCount": {
            "type": "integer",
            "description": "Number of customer records successfully loaded."
          },
          "failedCount": {
            "type": "integer",
            "description": "Number of records that failed to load."
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Details of any errors encountered."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}