{
  "openapi": "3.0.1",
  "info": {
    "title": "InsightAI Fraud Detection API",
    "description": "APIs for fraud detection, prevention, bulk processing, and initial customer data load.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.insightai.in/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/fraud-detection": {
      "post": {
        "description": "Analyzes transaction data for potential fraud and returns a detailed fraud report.",
        "requestBody": {
          "description": "Transaction details to analyze for fraud.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/bulk": {
      "post": {
        "description": "Uploads a bulk set of transactions for fraud analysis.",
        "requestBody": {
          "description": "A file containing multiple transactions in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk fraud detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/{id}": {
      "get": {
        "description": "Retrieves the fraud detection report for a specific transaction ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction ID for which the fraud detection report is requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud detection report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDetectionReport"
                }
              }
            }
          },
          "404": {
            "description": "Transaction ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fraud-detection/customers/load": {
      "post": {
        "description": "Loads first-time customer data into the system for fraud prevention and risk profiling.",
        "requestBody": {
          "description": "Customer data file in CSV or JSON format containing necessary details for onboarding.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDataLoadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer data successfully loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDataLoadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility": {
      "post": {
        "description": "Checks the loan eligibility of a customer based on the provided financial and personal details.",
        "requestBody": {
          "description": "Customer details for loan eligibility check.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk": {
      "post": {
        "description": "Uploads a bulk set of customer details for loan eligibility check.",
        "requestBody": {
          "description": "A file containing multiple customer details in CSV or JSON format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkLoanEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk loan eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bulk upload request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/loan-eligibility/bulk/results": {
      "get": {
        "description": "Fetches the results of the bulk loan eligibility check.",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "description": "The ID of the bulk processing task to fetch results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk loan eligibility results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLoanEligibilityResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID or bulk results not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/data_extraction/email_parsing": {
      "post": {
        "description": "Extracts chargeback-related details from the provided email content.",
        "requestBody": {
          "description": "The email content containing chargeback information to be analyzed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailParsingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chargeback details extracted from the email content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Email content missing in the request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API token missing from headers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to parse the response JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TransactionData": {
        "type": "object",
        "required": ["transactionId", "amount", "timestamp", "accountDetails"],
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the transaction."
          },
          "accountDetails": {
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string",
                "description": "ID of the account associated with the transaction."
              },
              "accountType": {
                "type": "string",
                "description": "Type of the account (e.g., savings, current)."
              }
            }
          }
        }
      },
      "FraudDetectionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the fraud detection process."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates whether the transaction is flagged as fraudulent."
          },
          "details": {
            "type": "string",
            "description": "Detailed explanation of the fraud detection result."
          }
        }
      },
      "BulkUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing multiple transactions."
          }
        }
      },
      "BulkDetectionResponse": {
        "type": "object",
        "properties": {
          "caseId": {
            "type": "string",
            "description": "String Id to represent the case analysis of the bulk transaction"
          },
          "processedCount": {
            "type": "integer",
            "description": "Number of transactions successfully processed."
          },
          "fraudulentCount": {
            "type": "integer",
            "description": "Number of transactions flagged as fraudulent."
          },
          "analyticsJson": {
            "type": "object",
            "description": "JSON of all the transaction flagged and score for each"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudDetectionResponse"
            }
          }
        }
      },
      "FraudDetectionReport": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "ID of the transaction."
          },
          "isFraudulent": {
            "type": "boolean",
            "description": "Indicates if the transaction is fraudulent."
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction."
          },
          "explanation": {
            "type": "string",
            "description": "Detailed explanation of the fraud analysis."
          }
        }
      },
      "CustomerDataLoadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV or JSON file containing customer details."
          }
        }
      },
      "CustomerDataLoadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the data load process."
          },
          "loadedCount": {
            "type": "integer",
            "description": "Number of customer records successfully loaded."
          },
          "failedCount": {
            "type": "integer",
            "description": "Number of records that failed to load."
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Details of any errors encountered."
          }
        }
      },
      "LoanEligibilityRequest": {
        "type": "object",
        "required": ["age", "monthly_income", "employment_type", "credit_score", "loan_purpose"],
        "properties": {
          "age": {
            "type": "integer",
            "description": "Age of the customer."
          },
          "gender": {
            "type": "string",
            "description": "Gender of the customer."
          },
          "marital_status": {
            "type": "string",
            "description": "Marital status of the customer."
          },
          "state": {
            "type": "string",
            "description": "State of residence."
          },
          "city": {
            "type": "string",
            "description": "City of residence."
          },
          "residential_status": {
            "type": "string",
            "description": "Customer's residential status (Owned, Rented, Other)."
          },
          "monthly_income": {
            "type": "number",
            "format": "float",
            "description": "Monthly income of the customer."
          },
          "employment_type": {
            "type": "string",
            "description": "Employment type (Salaried, Business, Self-employed)."
          },
          "occupation_sector": {
            "type": "string",
            "description": "Sector of occupation."
          },
          "previous_debt": {
            "type": "number",
            "description": "Amount of previous debt (if any)."
          },
          "loan_purpose": {
            "type": "string",
            "description": "Purpose of the loan."
          }
        }
      },
      "LoanEligibilityResponse": {
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "description": "Indicates whether the customer is eligible for a loan."
          },
          "recommended_loan_amount": {
            "type": "number",
            "format": "float",
            "description": "The amount recommended to be sanctioned to the customer."
          },
          "loan_tenure": {
            "type": "string",
            "description": "Recommended loan tenure."
          },
          "interest_rate": {
            "type": "number",
            "format": "float",
            "description": "Interest rate applicable on the loan."
          }
        }
      },
      "BulkLoanEligibilityRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The bulk file containing multiple customer loan details (CSV/JSON)."
          }
        }
      },
      "BulkLoanEligibilityResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "A unique ID generated for the bulk processing task."
          },
          "status": {
            "type": "string",
            "description": "Status of the bulk processing request (e.g., 'processing', 'completed')."
          }
        }
      },
      "BulkLoanEligibilityResults": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "The task ID for the bulk loan check."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanEligibilityResponse"
            },
            "description": "The results of the bulk loan eligibility check."
          }
        }
      },
      "EmailParsingRequest": {
        "type": "object",
        "required": ["email_content"],
        "properties": {
          "email_content": {
            "type": "string",
            "description": "The email content containing chargeback-related information to be analyzed."
          }
        }
      },
      "ChargebackDataResponse": {
        "type": "object",
        "properties": {
          "reference_number": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "transaction_entity": {
            "type": "string",
            "description": "Name of the merchant, bank, or gateway involved in the transaction."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the transaction (e.g., USD, INR)."
          },
          "date_of_transaction": {
            "type": "string",
            "format": "date",
            "description": "Date when the transaction occurred."
          },
          "chargeback_reason": {
            "type": "string",
            "description": "Reason for the chargeback, if available."
          },
          "customer_information": {
            "type": "object",
            "properties": {
              "customer_name": {
                "type": "string",
                "description": "Name of the customer (if provided)."
              },
              "customer_email": {
                "type": "string",
                "description": "Email address of the customer (if provided)."
              },
              "customer_phone": {
                "type": "string",
                "description": "Phone number of the customer (if provided)."
              }
            }
          },
          "additional_notes": {
            "type": "string",
            "description": "Any extra information or instructions extracted from the email."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
